* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.fistHeader {
  background-color: #1E1F29;
  display: flex;
  justify-content: center;
  height: 45px;
  align-items: center;
}

.faq {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.faq li {
  display: flex;
  gap: 10px;
}

.firstIcons {
  color: #A80725;
  font-size: 12px;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.textTop {
  text-decoration: none;
}

.firstHeaderColorFont {
  color: white;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
}

.firstHeaderColorFont:hover {
  color: #AF1829;
  transition: 0.3s;
}

.secondHeader {
  display: flex;
  background-color: #15161D;
  align-items: center;
  height: 100px;
  justify-content: center;
  border-bottom: 3px solid #D10024;
}

.headerCotainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 50px;
}
.headerCotainer .cart {
  display: flex;
  text-align: center;
  gap: 35px;
}
.headerCotainer .cart a {
  text-decoration: none;
}
.headerCotainer .cart p {
  color: rgb(255, 255, 255);
}
.headerCotainer .cart .cartIcons {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.headerSearch .headerSearch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerSearch .headerSearch #inputSelect {
  padding: 10px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 150px;
  color: #999b99;
  font-family: "Montserrat";
  font-size: 14px;
}
.headerSearch .headerSearch input {
  width: 295px;
  padding: 10px;
  color: #8f928f;
  font-family: "Montserrat";
  font-size: 14px;
}
.headerSearch .headerSearch button {
  padding: 11px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #D10024;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  width: 100px;
}

.navbarCountainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #E4E7ED;
}

.navbar {
  width: 62%;
}
.navbar nav ul {
  display: flex;
  padding: 20px;
  justify-content: start;
  gap: 20px;
  list-style: none;
}
.navbar nav ul a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  position: relative;
}

.navbar ul a:hover {
  color: #D10024;
}

.navbar ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background-color: #D10024;
  transition: width 0.3s ease;
}

.navbar ul a:hover::after {
  width: 100%;
}

#hero {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.heroCotainer {
  position: relative;
  display: flex;
  width: 60%;
  justify-content: center;
  border: #15161D;
  overflow: hidden;
  gap: 30px;
}
.heroCotainer img {
  transition: color 3s, letter-spacing 13s;
  color: #CEBD9C;
  width: 100%;
  text-decoration: underline;
  text-decoration: 3px offset;
  transition: transform 0.3s ease;
  background-color: #E4E7ED;
}
.heroCotainer img:hover {
  transform: scale(1.05);
}
.heroCotainer .imageyazi {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 0;
  padding: 30px;
  z-index: 10;
  background: linear-gradient(to top left, transparent 50%, #ff0932 50%);
  transform-origin: bottom left;
  opacity: 0.9;
  padding: 20px;
}
.heroCotainer .imageyazi h1 {
  width: 200px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.heroCotainer .imageyazi a {
  color: #ffffff;
  text-decoration: none;
}

#productsTop {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.navbar h1 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.navbar ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
.navbar ul a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(141, 153, 174);
  text-decoration: none;
  position: relative;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.fistHeader {
  background-color: #1E1F29;
  display: flex;
  justify-content: center;
  height: 45px;
  align-items: center;
}

.faq {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.faq li {
  display: flex;
  gap: 10px;
}

.firstIcons {
  color: #A80725;
  font-size: 12px;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.textTop {
  text-decoration: none;
}

.firstHeaderColorFont {
  color: white;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
}

.firstHeaderColorFont:hover {
  color: #AF1829;
  transition: 0.3s;
}

.secondHeader {
  display: flex;
  background-color: #15161D;
  align-items: center;
  height: 100px;
  justify-content: center;
  border-bottom: 3px solid #D10024;
}

.headerCotainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.headerCotainer .cart {
  display: flex;
  text-align: center;
  gap: 35px;
}
.headerCotainer .cart a {
  text-decoration: none;
}
.headerCotainer .cart p {
  color: rgb(255, 255, 255);
}
.headerCotainer .cart .cartIcons {
  font-size: 18px;
  color: rgb(255, 255, 255);
}